/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
[class*="social foundicon-"]:before {
    font-family: "SocialFoundicons";
}

[class*="general foundicon-"]:before {
    font-family: "GeneralFoundicons";
}

.top-bar {
    height:60px;
}

.top-bar ul > li a:not(.button) {
    height:60px;
}

.top-bar ul > li.divider {
    height:60px;
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


